<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>

    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>basket</title>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">All products <span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
    </nav>

</head>
<body>


<!--/*@thymesVar id="productList" type="by.marketplace.controller.BasketController"*/-->
<div th:each="product: ${productList}" class="alert alert-info mt-2 bg-primary">
    <h3 th:text="${product.id}"></h3>
    <h3 th:text="${product.name}"></h3>
    <h3 th:text="${product.quantity}"></h3>
    <h3 th:text="${product.prize}"></h3>
    <h3 th:text="${product.description}"></h3>
</div>

  <!--/*@thymesVar id="order" type="by.marketplace.controller.OrderController"*/-->
  <form class="row g-3 needs-validation" novalidate th:action="@{/pbasket/oder}"  method="post" th:object="${order}">
    <div>
        <div>
            <label for="order-phone">orderPhone:</label>

          
            <!--/*@thymesVar id="phone" type="java.lang.String"*/-->
            <input type="text" th:field="${order.phone}" id="order-phone"/>
        </div>
        <div>
            <button type="submit" class="button">Buy</button>
        </div>
    </div>
  </form>

</body>
</html>