<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pro
        duct</title>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"
          integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"
            integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/product">All products <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/product/save">Save product<span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
        <div class="col-md-1 text-end">
            <li><a href="/basket" class="nav-link px-2 link-secondary">Basket</a></li>
            <!--            <button type="button" class="btn btn-outline-primary">Basket</button>-->
        </div>
    </nav>
</head>
<body>

<!--/*@thymesVar id="products" type="by.marketplace.controller.ProductControllerView"*/-->
<div th:each="product: ${products}" class="alert alert-dark mt-2 bg-light" role="alert">
    <p> name:
    <h3 th:text="${product.name}"></h3>
    <p> quantity:
    <h3 th:text="${product.quantity}"></h3>
    <p> prize:
    <h3 th:text="${product.price}"></h3>
    <p> description:
    <h3 th:text="${product.description}"></h3>

    <form th:action="'/product/delete/'+${product.id}" method="post">
        <div>
            <div>
                <button type="submit" class="button">Delete</button>
            </div>
        </div>
    </form>
    <br>
    <form th:action="'/product/edit/'+${product.id}" method="get">
        <div>
            <div>
                <button type="submit" class="button">Update</button>
            </div>
        </div>
    </form>

    <br>
    <form th:action="'/product/addInBasket/'+${product.id}" method="post">
        <label>
            <input type="number" name="total" placeholder="Сколько купить">
        </label>
        <button class="btn btn-warning" type="submit"> buy</button>
        <!--        <p th:text="${info}"/>-->
    </form>
    <!--/*@thymesVar id="info" type=""*/-->

    <!--    <p th:text="${info}"/>-->
</div>

</body>
</html>